<header>
    <section class= "top-menu">
        <div class="logo"><a href= "/"><img src="../img/logo.png" class="mobile"></a></div>
        <div class="search-bar"><input class= "searcher" placeholder= "¿Qué estás buscando?"></div>                
        <div class="icon-menu"><a><i class="fa-solid fa-ellipsis-vertical"></i></a></div>
    </section> 
</header>